@import "tailwindcss";

@layer base {
  html {
    font-family: "Esteban", serif;
  }

  body {
    font-family: "Esteban", serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Esteban", serif;
  }
}

body {
  font-family: "Crimson Text", serif;
}
